{% extends 'base.html' %}

{% block content %}
<h2>Edit Profile</h2>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input class="form-control" name="name" required value="{{ student.name }}">
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" name="email" type="email" value="{{ student.email }}">
  </div>
  <div class="mb-3">
    <label class="form-label">Education</label>
    <input class="form-control" name="education" value="{{ student.education }}">
  </div>
  <div class="mb-3">
    <label class="form-label">Semester</label>
    <input class="form-control" name="semester" value="{{ student.semester }}">
  </div>
  <div class="mb-3">
    <label class="form-label">Interests</label>
    <input class="form-control" name="interests" value="{{ student.interests }}">
  </div>
  <div class="mb-3">
    <label class="form-label">Career Goal</label>
    <input class="form-control" name="career_goal" value="{{ student.career_goal }}">
  </div>
  <button class="btn btn-success">Save</button>
</form>
{% endblock %}
